<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Millimeter Wave Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Millimeter Wave Products, Inc.</h1>
            <div class="header-info">
                <p>Part no. {{ rfsynthesizer_info['part_no'] }}</p>
                <p>Serial no. {{ rfsynthesizer_info['serial_no'] }}</p>
            </div>            
        </div>
        <div class="main">
            <div class="left-panel">
                <div class="genericdiv">
                    <label>Input parameters</label>
                </div>
                <br>
                <div class="section dark-bg">
                    <div class="input-group">
                        <label for="ref-frequency">REF Frequency (MHz)</label>
                        <input type="text" id="refFrequency" value="{{ config['refFrequency'] }}" readonly>
                    </div>
                    <div class="input-group">
                        <label for="doubler">Doubler</label>
                        <input type="checkbox" id="doubler" {% if config.get('doubler', False) %}checked{% endif %}>
                    </div>
                </div>
                <br>
                <div>
                    <select id="frequencyType" onchange="toggleFrequencyInputs()">
                        <option {% if config.get('frequencyType', 'CW Frequency') == 'CW Frequency' %}selected{% endif %}>CW Frequency</option>
                        <option {% if config.get('frequencyType', 'CW Frequency') == 'Frequency Sweep' %}selected{% endif %}>Frequency Sweep</option>
                    </select>
                </div>
                <br>
                <label for="message">CW Frequency</label>
                <div class="section" id="cwfreqdiv">
                    <div class="input-group">
                        <label for="output-frequency">Output Frequency (MHz)</label>
                        <input type="number" id="outputFrequency" name="outputFrequency" min="62" max="32000" value="{{ config.get('outputFrequency', '1000') }}">
                    </div>
                </div>
                <label for="message">Frequency Sweep</label>
                <div class="section" id="sweepfreqdiv">
                    <div class="genericdiv">
                        <div class="input-group">
                            <label for="min-frequency">Min Frequency (MHz)</label>
                            <input type="number" id="minFrequency" name="minFrequency" min="62" max="32000" value="{{ config.get('minFrequency', '4000') }}">
                        </div>
                        <div class="input-group">
                            <label for="max-frequency">Max Frequency (MHz)</label>
                            <input type="number" id="maxFrequency" name="maxFrequency" min="62" max="32000" value="{{ config.get('maxFrequency', '7000') }}">
                        </div>
                    </div>
                    <div class="genericdiv">
                        <div class="input-group">
                            <label for="step-size">Step Size (MHz)</label>
                            <input type="number" id="stepSize" value="{{ config.get('stepSize', '100') }}">
                        </div>
                        <div class="input-group">
                            <label for="sweep-time">Sweep Time (ms)</label>
                            <input type="number" id="sweepTime" min="1" max="1000" value="{{ config.get('sweepTime', '1000') }}">
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div id="otherparamsdiv">
                        <div class="genericdiv">
                            <div class="input-group">
                                <label for="filter">Filter</label>
                                <input type="number" id="filter" name="filter" min="0" max="7" value="{{ config.get('filter', '0') }}">
                            </div>
                            <div class="input-group">
                                <label for="bias">Bias</label>
                                <input type="number" id="bias" name="bias" min="0" max="3" value="{{ config.get('bias', '0') }}">
                            </div>
                        </div>
                        <div class="genericdiv">
                            <div class="input-group">
                                <label for="charge-pump-current">Charge Pump Current (μA)</label>
                                <select id="chargePump">
                                    <option value="350" {% if config.get('chargePump', '350') == '350' %}selected{% endif %}>350</option>
                                    <option value="700" {% if config.get('chargePump', '350') == '700' %}selected{% endif %}>700</option>
                                    <option value="1050" {% if config.get('chargePump', '350') == '1050' %}selected{% endif %}>1050</option>
                                    <option value="1400" {% if config.get('chargePump', '350') == '1400' %}selected{% endif %}>1400</option>
                                    <option value="1750" {% if config.get('chargePump', '350') == '1750' %}selected{% endif %}>1750</option>
                                    <option value="2100" {% if config.get('chargePump', '350') == '2100' %}selected{% endif %}>2100</option>
                                    <option value="2450" {% if config.get('chargePump', '350') == '2450' %}selected{% endif %}>2450</option>
                                    <option value="2800" {% if config.get('chargePump', '350') == '2800' %}selected{% endif %}>2800</option>
                                    <option value="3150" {% if config.get('chargePump', '350') == '3150' %}selected{% endif %}>3150</option>
                                    <option value="3500" {% if config.get('chargePump', '350') == '3500' %}selected{% endif %}>3500</option>
                                    <option value="3850" {% if config.get('chargePump', '350') == '3850' %}selected{% endif %}>3850</option>
                                    <option value="4200" {% if config.get('chargePump', '350') == '4200' %}selected{% endif %}>4200</option>
                                    <option value="4550" {% if config.get('chargePump', '350') == '4550' %}selected{% endif %}>4550</option>
                                    <option value="4900" {% if config.get('chargePump', '350') == '4900' %}selected{% endif %}>4900</option>
                                    <option value="5250" {% if config.get('chargePump', '350') == '5250' %}selected{% endif %}>5250</option>
                                    <option value="5600" {% if config.get('chargePump', '350') == '5600' %}selected{% endif %}>5600</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="genericdiv">
                        <input type="checkbox" id="toggle" class="toggleCheckbox" />
                        <label for="toggle" class='toggleContainer'>
                            <div>RF OFF</div>
                            <div>RF ON</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="right-panel">
                <div class="status">
                    <div class="indicator">
                        <span>Hardware Detect</span>
                        <div class="hwdetect-circle"></div>
                    </div>
                    <div class="indicator">
                        <span>Temperature (°C)</span>
                        <input type="text" id="temperature" value="32 °C" readonly>
                    </div>
                    <div class="indicator">
                        <span>Lock</span>
                        <div class="lock-circle"></div>
                    </div>
                </div>
                <div class="message-procedure">
                    <label for="message">Message</label>
                    <textarea id="messagebox"></textarea>
                    <label for="procedure">Procedure</label>
                    <textarea id="procedure"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
